<div>
	<h3>Compañia</h3>
	<div>
		<mat-list role="list">
			<mat-list-item role="listitem">
                <b style="margin-right: 15px;">name:</b>
                <span>{{ company.name }}</span>
            </mat-list-item>
			<mat-list-item role="listitem">
                <b style="margin-right: 15px;">catchPhrase:</b>
                <span>{{ company.catchPhrase }}</span>
            </mat-list-item>
			<mat-list-item role="listitem">
                <b style="margin-right: 15px;">bs:</b>
                <span>{{ company.bs }}</span>
            </mat-list-item>
		</mat-list>
	</div>
</div>
